<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre's Music</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2QZ0B4BV0"></script>
<script>
    if (document.location.hostname == "pierre.wiki") {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B2QZ0B4BV0');
    }
</script>

<body>
    <div id="wrapper">
        <navigation></navigation>

        <main id="music" class="post">
            <h1>Music</h1>
            <h2>A Brief History</h2>
            <p>In my short time here on Earth, I've taken to playing the guitar, violin and piano.
                I started with a ukelele when I was 6 which was given to me at Christmas along with a self-ukelele-help
                book my parents brought back from Orkney. </p>
            <p>I then progressed to the much more adult 3/4 size guitar
                from the age of 8, and took lessons every week from ~9:12am - 9:45 am, and soon was taking violin
                lessons alongside.
                In due course, I grew tired of lessons and teachers and ~9:12am starts and decided I was better off
                starting over again on the piano, which has since become something of an obsession. </p>
            <p>As with any self-respecting millennial, I have produced some self-righteous youtube videos on various
                channels. The <a href="https://www.youtube.com/channel/UC7zNyYV-v00IH9zS8Al9wMg">first</a> of these
                channels I intended to function as an archive of piano pieces I was able to
                play at the time in case my fingers were ever chopped off. Notably, this includes 3
                solo piano compositions which were partly intended for school examinations - but you can read more about
                them <a href="/solopianocompositions">here</a>.</p>
            <h2>The Now</h2>
            <p>More recently I created <a href="https://www.youtube.com/channel/UCKa3knyiqmvkmbgASm6suqg">another </a>
                youtube channel whose titular inspiration
                is credited to my grandmother's maiden name - Mackenzie. In it, I summon my inner Richard Ayuade in
                order to deliver intermittently deadpan and genuine, but always odd, videos featuring a cover or
                original. I bought some music tech gear which has allowed me to explore the world of digital music
                production. </p>
            <p>To this day, teaching myself the piano remains perhaps one of the things I am proudest of, and playing
                and composing music will always be something I enjoy very much and hope to find more time to do.</p>
        </main>
        <customfooter></customfooter>
    </div>
    <canvas id="cloud-canvas" />

</body>

</html>