**/*.map
**/*.min.css
**/*.min.jsk
_site/**
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/search.liquid.js
node_modules/**
assets/**
readme_preview/**
_pages_unused/**

# Ignore binary files and other non-code files
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.zip
*.exe
*.bin