<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pierre.wiki</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TCGXJX6VQL"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TCGXJX6VQL');
</script>

<body>
    <div id="wrapper">
        <navigation></navigation>
        <main id="home">
            <section class="blur first-section">

                <div class="typewriter-wrapper">
                    <h1 id="title"></h1>
                    <p id="paragraph"></p>
                    <button id="continue-scroll-nav" class="continue-scroll mar-top">Continue</button>
                </div>
            </section>

            <section class="blur section-canvas">
                <div class="delay 1">
                    <p class='delay1'>Sometimes I am</p>
                    <h2 class="delay2">Coding</h2>
                    <button class="continue-scroll">Continue</button>
                </div>
                <canvas id="model-canvas" class="delay2"><span id='percent-loaded-label'>Loading
                        Model</span></canvas>
            </section>
            <section class="blur">
                <p>Other times you'll find me</p>
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/51WobiUsEiM?autoplay=1&origin=http://pierre.wiki&start=56"
                    frameborder="0"></iframe>
                <h2>Playing Music</h2>
                <button class="continue-scroll">Continue</button>
            </section>
            <section class="blur last-section">
                <div class="card-container">
                    <div class="card">
                        <div class="card-inner">
                            <h2>Music!</h2>
                            <span>Go read about my developments in music <a href="/projects/music">here</a></span>
                        </div>

                        <div class="image" id="music-image"></div>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h2>Code!</h2>
                            <span>Go read about my coding projects <a href="/projects/code">here</a></span>
                        </div>

                        <div class="image" id="coding-image"></div>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h2>Blog!</h2>
                            <span>Go read my blog <a href="/blog">here</a></span>
                        </div>

                        <div class="image" id="blog-image"></div>
                    </div>
                </div>
            </section>

        </main>
        <customfooter></customfooter>
    </div>
    <canvas id="cloud-canvas" />

</body>

</html>