@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import 'src/assets/styles/styles.scss';

#home {
    padding:0;
    max-height: 100%;
    display: flex;
    color:$off-white;
    flex-direction: column;
    max-width: 100%;
    .typewriter-wrapper {
        padding:20vh 20% 20vh 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 50%;
        h1 {
            text-align: center;
            color:$off-white;
            margin-bottom:5vw;
            font-size: 50px;
            align-self:flex-start;
        }
        p {
            font-size: 24px;
            align-self:flex-start;
        }
        #continue-scroll-nav {
            opacity: 0;
        }

    }
    section.section-canvas > * {
        position: absolute;
    }
    section.section-canvas div {
        padding: 10% 20%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        width:60%;
    }
    section.first-section {
        padding-top:20vh;
        max-height:80vh;
    }
    section.last-section {
        margin-bottom:0;
        padding-bottom:10vh;
        max-height:90vh;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;        
        justify-content: space-evenly;
        margin-bottom:10px;
        height: 100vh;
        width: 100%;
        h2 {
            font-size: 36px;
        }
        p {
            text-align: left;
            font-size: 24px;
        }
        .continue-scroll {
            transition-timing-function: ease-out;
            transition: 0.5s;
            cursor: none;
        }
        .continue-scroll:hover {
            cursor: none;
            color:$on-accent-dark;
        }
    }
}


