<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre's Projects</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2QZ0B4BV0"></script>
<script>
    if (document.location.hostname == "pierre.wiki") {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B2QZ0B4BV0');
    }
</script>

<body>
    <div id="wrapper">
        <navigation></navigation>
        <main id="projects">
            <h1>Projects!</h1>
            <p>Just having some fun - seeing what there is to
                do and make. My projects usually into 2 prominent categories. </p>
            <div class="card-container">
                <div class="card">
                    <div class="card-inner">
                        <h2>Coding</h2>
                        <span>Sometimes I do some coding which can be read about <a href="/coding">here</a></span>
                    </div>

                    <div class="image" id="coding-image"></div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <h2>Music</h2>
                        <span>Go read about my musical endeavours <a href="/music">here</a></span>
                    </div>
                    <div class="image" id="music-image"></div>
                </div>
            </div>
        </main>
        <customfooter></customfooter>
    </div>
    <canvas id="cloud-canvas" />

</body>

</html>