<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre's Blog</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2QZ0B4BV0"></script>
<script>
    if (document.location.hostname == "pierre.wiki") {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B2QZ0B4BV0');
    }
</script>

<body>
    <div id="wrapper">
        <navigation></navigation>

        <main id="blog" class="blur">
            <h1>Blog!</h1>
            <div class="card-container">
                <div class="card">
                    <div class="card-inner">
                        <h2>Frisbee</h2>
                        <span>I took up Ultimate frisbee last year. Read about it
                            <a href="/frisbee">here</a></span>
                    </div>

                    <div class="image" id="frisbee-image"></div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <h2>South America</h2>
                        <span>Last summer I went to south america. Read about my travels <a
                                href="/southamerica">here</a></span>
                    </div>

                    <div class="image" id="southamerica-image"></div>
                </div>
            </div>
        </main>

        <customfooter></customfooter>
    </div>
    <canvas id="cloud-canvas" />

</body>

</html>