<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre's Blog</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TCGXJX6VQL"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TCGXJX6VQL');
</script>

<body>
    <div id="wrapper">
        <navigation></navigation>

        <div id="blog">
            <main>
                <h1>Blog!</h1>
                <div class="card-container">
                    <div class="card">
                        <div class="card-inner">
                            <h2>Frisbee!</h2>
                            <span>I took up Ultimate frisbee last year. Read about it <a
                                    href="/blog/frisbee">here</a></span>
                        </div>

                        <div class="image" id="frisbee-image"></div>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h2>South America</h2>
                            <span>Last summer I went to south america. Read about my travels <a
                                    href="/blog/southamerica">here</a></span>
                        </div>

                        <div class="image" id="southamerica-image"></div>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <h2>Jasper</h2>
                            <span>Go read about my dog <a href="/blog/jasper">here</a></span>
                        </div>
                        <div class="image" id="jasper-image"></div>
                    </div>
                </div>
            </main>
        </div>
        <customfooter></customfooter>
    </div>
    <canvas id="cloud-canvas" />

</body>

</html>