h1 {
    color: red;
}
#wrapper {
    z-index: 2;
}
#cloud {
    z-index: 1;
    background-color: 0x191170;
    cursor:none;
}

canvas, #wrapper {
    position: absolute;
}

html, body, canvas {
    margin: 0;
    padding: 0;
}

