@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import './colors.scss';

nav, footer {
    z-index: 2;
    position: absolute;
    padding:0;
    margin:0;
    width:100%;
    max-width: 100%;
    background-color: $accent-color;
}

nav {
    position: absolute;
    top:0;
    display: flex;
    justify-content:center;
    #bigger-text {
        font-size:42px;
    }
    #bigger-text:hover {
        font-size: 48px;
    }
    a {
        color:$on-accent-light;
        font-size: 24px;
        padding: 40px;
    }
    a:hover {
        color:$on-accent-dark;
        font-size: 36px;
    }
}

$icon-width:30px;

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color:$on-accent-light;
        padding: 10px;
    }
    a:hover {
        color: rgb(53, 53, 53);
    }
    a:hover .icon {
        background-color:rgb(53, 53, 53);
    }
    #central-links {
        display: flex;
        justify-content: center;
    }
    .icon {
        display:inline-block;
        margin-left:10px;
        width:$icon-width;
        height:$icon-width;
        mask-size:$icon-width $icon-width;
        -webkit-mask-size:$icon-width $icon-width;
        background-color:$on-accent-light;
    }
    .footer-link {
        display: flex;
        align-items: center;
    }
    .icon-text {
        padding:10px 10px 10px 5px;
    }
    .start {
        margin-left: 10px;
    }
    .end {
        margin-right: 10px;
    }
    .neighbour-link:hover {
        color: rgb(98, 13, 95);
    }
    #linkedin-link:hover {
        color: #1a2165;
    }
    a:hover #linkedin-icon {
        background-color:#1a2165;
    }
    #youtube-link:hover {
        color: #c00b2c;
    }
    a:hover #youtube-icon {
        background-color:#c00b2c;
    }
    #github-icon {
        mask-image: url('../images/github-icon.png');
        -webkit-mask-image: url('../images/github-icon.png');
    }
    #youtube-icon {
        mask-image: url('../images/youtube-icon.png');
        -webkit-mask-image: url('../images/youtube-icon.png');
    }
    #linkedin-icon {
        mask-image: url('../images/linkedin-icon.png');
        -webkit-mask-image: url('../images/linkedin-icon.png');
    }
}

