@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

a {
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: none;
}

#footer a {
    font-size: 20px;
    display: flexbox;
    justify-content: center;
}
#bigger-text {
    font-size:48px !important;
}
#bigger-text:hover {
    font-size: 64px !important;
}
#nav a {
    color:rgb(158, 151, 184);
    opacity: 0.5;
    font-size: 36px;
    padding:10%;
    transition: 0.5s;
    padding: 40px;
}

#nav a:hover {
    opacity: 1;
    color:rgb(204, 199, 219);
    font-size: 48px;
}
#nav, #footer {
    z-index: 2;
    width: 100%;
    padding:0px;
}
#footer {
    bottom:0;
}
#nav {
    display: flex;
    justify-content:center;
}

canvas, #nav, #footer {
    position: absolute;
}

html, body, canvas, div {
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: 'Fira Sans', sans-serif;
}