@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

a, .icon {
    transition-timing-function: ease-out;
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: none;
}

#bigger-text {
    font-size:48px;
}
#bigger-text:hover {
    font-size: 52px;
}
$footer-text-color:rgb(162, 162, 162);
footer a {
    color:$footer-text-color;
    padding: 10px;
}
footer a:hover {
    color:rgb(225, 225, 225);
}
footer a:hover .icon {
    background-color:rgb(225, 225, 225);
}
nav a {
    color:rgb(158, 151, 184);
    opacity: 0.5;
    font-size: 24px;
    padding: 40px;
}

nav a:hover {
    opacity: 1;
    color:rgb(204, 199, 219);
    font-size: 36px;
}
nav, footer {
    z-index: 2;
    width: 100%;
    padding:0px;
}
.neighbour-link:hover {
    color: rgb(217, 76, 212);
}
.start {
    margin-left: 10px;
}
#linkedin:hover {
    color: #4ebaf4;
}
footer a:hover #linkedin-icon {
    background-color:#4ebaf4;
}
#youtube:hover {
    color: #fe3636;
}
footer a:hover #youtube-icon {
    background-color:#fe3636;
}
.icon-text {
    padding:10px 10px 10px 5px;
}
$icon-width:30px;
.icon {
    display:inline-block;
    margin-left:10px;
    width:$icon-width;
    height:$icon-width;
    mask-size:$icon-width $icon-width;
    -webkit-mask-size:$icon-width $icon-width;
    background-color:$footer-text-color;
}
.footer-link {
    display: flex;
    align-items: center;
}
#github-icon {
    mask-image: url('../images/github-icon.png');
    -webkit-mask-image: url('../images/github-icon.png');
}
#youtube-icon {
    mask-image: url('../images/youtube-icon.png');
    -webkit-mask-image: url('../images/youtube-icon.png');
}
#linkedin-icon {
    mask-image: url('../images/linkedin-icon.png');
    -webkit-mask-image: url('../images/linkedin-icon.png');
}
.end {
    margin-right: 10px;
}
footer {
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer #central-links {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content:center;
    justify-self: start;
}
main {
    flex: 1;
    color:white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#percent-loaded-label {
    color:white;
}
canvas, #wrapper {
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
#wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

html, body, canvas, div {
    margin: 0;
    padding: 0;
    cursor: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */    
    font-family: 'Roboto Mono', monospace;
}